/* select a font */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --clr-sky-blue: #8ecae6ff;
  --clr-blue-green: #219ebcff;
  --clr-prussian-blue: #023047ff;
  --clr-selective-yellow: #ffb703ff;
  --clr-ut-orange: #fb8500ff;
  --ff-roboto: 'Roboto', sans-serif;
  --ff-noto-sans: 'Noto Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
  --fixed-width: 450px;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  font-family: var(--ff-roboto);
  overflow-x: hidden;
}

.form-container {
  max-width: 60rem;
  width: 100%;
  min-height: 70vh;
  border: 2px solid black;
  padding: 1rem 0rem;
  box-shadow: var(--light-shadow);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  border-radius: 0.75rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.75rem;
  font-size: 1rem;
}

textarea,
input {
  width: 80%;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: 600;
  border: none;
  border-bottom: 2px solid #000;
}

textarea {
  min-height: 3rem;
}

input {
  min-height: 1.5rem;
}

::placeholder {
  font-size: 0.9rem;
  color: var(--clr-prussian-blue);
}

.tittle {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

h2 {
  color: #fff;
  font-family: 800;
  padding: 0.2rem;
}

button {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 0.75rem;
  border-radius: 0.2rem 1rem;
  cursor: pointer;
  box-shadow: var(--dark-shadow);
}
